.env
*.code-workspace
fb_bot_venv/
[internal]
=
transferring
wait_times1.png
wait_times2.png
__pycache__/create_image_with_text.cpython-311.pyc
node_modules/
launch.json
quicksort.py 
package-lock.json
package.json
ToTrash
node_modules/
dist/
chrome-aws-lambda/
chromedriver-linux64/
awscli-venv/
.vscode/
chrome-aws-lambda 
chromedriver-linux64
awscli-venv
dist
chrome-aws-lambda/
chrome-aws-lambda
chrome-aws-lambda/
access_keys.txt 
