.env
*.code-workspace
fb_bot_venv/
[internal]
=
transferring
wait_times1.png
wait_times2.png
__pycache__/create_image_with_text.cpython-311.pyc
node_modules/
package*
package/
deployment_package.zip
env/
deployment_package/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env